{% extends 'templates/default.twig' %}

{% block title %}Lavacharta{% endblock %}

{% block content %}
Sample chart
<div id="myStocks">
{{ chart|raw }}
</div>
{{ chart2|raw }}
{{ chart3|raw }}
{% endblock %}

